.aboutfull {
    width: 100%;
    margin-bottom: 100px;
    background-color: #fff;

    .details {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin: 0 auto;
    }

    .mySkills {
        padding-left: 100px;
        width: 100%;
    }
}