.detailedabout {

    .mePar {
        margin: 0px;
        align-self: flex-start;
        width: 300px;
    
        img {
            width: 300px;
            height: 300px;
            opacity: 0.5;
    
            &:hover {
                opacity: 1;
            }
        }
    
        p {
            color: #6c6c6c;
            line-height: 1.4;
            text-align: justify;
        }
    }
}